# Agenda
- Python Introduction 
- Installation
- Intro to Shell, Scripts and Ipython Notebooks
- Python Basics
- Python Data Structures 
- Classes and OOPS

## What is Python?
Python is an interpreted, high-level, general-purpose programming language created by Guido van Rossum

## Features of Python 
- Simple
- Easy to learn and use
- Free, Open Source, High Level Programming Language 
- Interpreted
- Object Oriented 
- Dynamically Typed
- Portable
- Embedded with C/C++
- Large Standard Library - Recommended for Machine Learning
- Case Sensitive

### Python Installation
- https://www.python.org/downloads/
- Python 2 vs Python 3
- Download python 3.7 and if you are using windows then add it to the enviornment variables

## Recommended to install - Anaconda
- Most Popular data science platform
- comes with tons of libraries and packages
- https://www.anaconda.com/distribution/
- Choosing an Editor - Pycharm, Vim, Emacs, Nano
- How to read the documentation - print?, help(print)

# Python Basics 
- Comments - Code tells you how, comments tells you why.
- Indentation
- Literal Constants
    - Numbers 
        - integers
        - floats
    - strings
        - single quotes, double quotes, triple quotes, explicit line joining
        - raw strings
        - escape sequences
- Variables and Data Types
- Input and Output in Python
    - input() method
    - print() function, sep , end parameters
    - formatting 
    - Pickling 
    - Files Input Output
- Operators and Expressions 
- Conditional Statements (if-else)
- Control Flow and Loops (For, While, For Each) and List Comprehension
- Function and Keyword Arguments 
- Local and global variables

# Comments

In [1]:
# // Single Line Comment - C++ Comment
# Single Line Comment - Python 
# C++ Comment
# /* 
# Multi Line comment 
# */ 
# Python Comment 
# Doc String 
'''
Multi 
Line 
Comment 
'''

'\nMulti \nLine \nComment \n'

# Variables and Data Types

In [2]:
first = 20
print(first)
print(type(first))
print(id(first))
second = first
print(second)
print(type(second))
print(id(second))

20
<class 'int'>
4379858944
20
<class 'int'>
4379858944

In [3]:
a = 2.3
print(type(a))

<class 'float'>

In [4]:
c = 'd'
print(type(c))

<class 'str'>

In [5]:
a = 'a'
b = "coding club"
c = '''
This is 
the 
python session
'''

In [6]:
print(type(a), type(b), type(c))

<class 'str'> <class 'str'> <class 'str'>

In [7]:
a = 3+4j
print(a, type(a))

(3+4j) <class 'complex'>

In [8]:
# Long int,

In [9]:
print("hello")
if True:
    print("world")

hello
world

In [10]:
# explicit line joining 
a = "this is a string \
this is a new line string\
it will gonna continue\
"

In [11]:
print(a)

this is a string this is a new line stringit will gonna continue

In [12]:
# Escape sequences 
print("hello \n\tworld")
print(r"this is a new line character \n")

hello
	world
this is a new line character \n

# Input and Output in Python

In [13]:
name = input("Enter your name: ")
print(name)

Enter your name: Abhishek
Abhishek

In [14]:
# numbers = input("Enter 5 numbers: ")
# print(numbers)
# print(type(numbers))
# numbers = "1 2 3 4 5"

list_numbers = "1 2 3 4 5".split()
print(list_numbers)

new_list = []
for num in list_numbers:
    new_list.append(int(num))

print(new_list)

['1', '2', '3', '4', '5']
[1, 2, 3, 4, 5]

In [15]:
flval = float(input("Enter any float value: "))

Enter any float value: 1.2

# Print Function

In [16]:
print("my", "name", "is", "abhishek", 21, 35, 2.3)

my name is abhishek 21 35 2.3

In [17]:
# end argument 
# sep argument

In [18]:
print("hello", end='\n')
print("world")

hello
world

In [19]:
print("list", "of", "words", sep='*')

list*of*words

In [20]:
mystring = "capital of %s is %s and %s is number %d"%("india", "delhi", "delhi", 1)
print(mystring)

capital of india is delhi and delhi is number 1

In [21]:
mystring2 = "capital of {} is {}".format("india", "delhi")
print(mystring2)

capital of india is delhi

In [22]:
import pickle

In [23]:
# name of the file where you have to store object 
file = 'file.data'

obj = [1,2,3]

# write to file 
f = open(file, 'wb')
# dump the object to the file 
pickle.dump(obj, f)
f.close()

In [24]:
f = open(file, 'rb')
# load the object from the file
obj = pickle.load(f)
print(obj)
f.close()

[1, 2, 3]

# Operators and Expression

In [25]:
# Arithmetic Operators 
# Logical Operators 
# Conditional Operators 
# Bitwise Operators 
# Assignment Operators

In [26]:
2+3

5

In [27]:
2-3

-1

In [28]:
2*3

6

In [29]:
5/4

1.25

In [30]:
5//4

1

In [31]:
5**2

25

In [32]:
5%2

1

In [33]:
# <<, >>, &, |, ^, ~, # Bit wise Operators

In [34]:
# conditional operators

In [35]:
# logical operators - not , and , or 

weather="sunny"
if weather=="rainy" or True:
    print("something")
else:
    print("something else")

something

In [36]:
a = 2
a = a+1

In [37]:
a +=1 # short hand notation

In [38]:


name = "code"
if name == "coding club":
    print("A")
elif name == "coding":
    print("B")
else:
    print("C")

C

# Loops - for loop, while loop, for each loop

In [39]:
i = 1
while i<=20:
    print(i, end=' ')
    i+=1

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

In [40]:
# print factorial using loop

In [41]:
a = range(1, 10)
# for i in range(start, end+1, step)
for i in range(1, 11, 3):
    print(i, end=' ')

print()
    
# reverse loop - 10 to 1 
for i in range(10, 0, -2):
    print(i, end=' ')

1 4 7 10
10 8 6 4 2

In [42]:
name = "coding club"
for i in name:
    if i=='g':
        continue
    if i=='l':
        break
    print(i, end=' ')

c o d i n   c

In [43]:
if True:
    pass
    # Do nothing

# Functions in Python

In [44]:
def say_hello(name="Abhishek"):
    print("hello", name )

In [45]:
say_hello()
say_hello("Anamika")

hello Abhishek
hello Anamika

In [46]:
# local and global variables 

x = 50 

def func(x):
#     global x
    print('value of x is ', x)
    x = 2
    print('value of x is ', x)
    
func(x)
print(x)

value of x is  50
value of x is  2
50

# Keyword Arguments

In [47]:
def func(name, roll, age, group):
    print(name, roll, age, group)

In [48]:
func(roll=2, name='abhishek', group=1, age=21)
func(2, 'abhishek', 1, 21)

abhishek 2 21 1
2 abhishek 1 21

# Var args

In [49]:
def total(a=5, *numbers, **keyvalue):
    print(a)
    
    for item in numbers:
        print(item, end=' ')
    
    for first, second in keyvalue.items():
        print(first, second)

In [50]:
total(10,20,6,7, name="coding", age=21, year=2019)

10
20 6 7 name coding
age 21
year 2019

# List Comprehension

In [51]:
numbers = input().split()
list_numbers = []
for i in numbers:
    list_numbers.append(int(i))

1 2 3 4

In [52]:
list_numbers

[1, 2, 3, 4]

In [53]:
list_numbers = [int(every_number) for every_number in input().split()]
print(list_numbers)
print(type(list_numbers))
# list comprehension

1 2 3 4
[1, 2, 3, 4]
<class 'list'>

# Python Data Structures
- Strings
- Lists 
- Tuples 
- Dictionaries 
- Sets

# Strings

In [54]:
a = 'abhishek'
b = "abhishek"
c = '''
abhishek
'''

In [55]:
a[0]
# print(a[15.5])

'a'

# Change | delete a string

In [56]:
# Strings are immutable

In [57]:
new_string = "coding"

In [58]:
new_string = "club"

In [59]:
del new_string

# Operations

- Concatenation
- Membership test
- String Methods

In [60]:
s1 = "hello"
s2 = "world"
s3 = s1+s2
print(s3)

helloworld

In [61]:
# Slicing 
a = "this is the python session at ai mafia"

In [62]:
a.find("python")
a.find("at")

27

In [63]:
a[12]

'p'

In [64]:
sliced = a[12:26:2]

In [65]:
print(sliced)

pto eso

In [66]:
# Let me know how can i reverse a string using slicing

In [67]:
a = "coding club"

In [68]:
rev = a[::-1]
print(rev)

bulc gnidoc

In [69]:
# membership operator
if "ind" in a:
    print("present")

In [70]:
# string methods

In [71]:
a.lower()

'coding club'

In [72]:
a.upper()

'CODING CLUB'

In [73]:
a.title()

'Coding Club'

In [74]:
a.capitalize()

'Coding club'

In [75]:
len(a)

11

In [76]:
a.find("cool")

-1

In [77]:
a.index("cool")

ValueError: substring not found

In [78]:
def check_substring(strn, sub):
    if strn.find(sub) == -1:
        print("Not Found")
    else:
        print("Found")

In [79]:
check_substring("coding club", "ngd")

Not Found

# List

In [80]:
# It is an hetrogeneous array 
l = ["mango", "banana", "apple"]
l2 = list(["mango", 2, 2.5, "values"])
print(l, type(l))
print(l2, type(l2))

['mango', 'banana', 'apple'] <class 'list'>
['mango', 2, 2.5, 'values'] <class 'list'>

In [81]:
l[2]= "guava"

In [82]:
print(l)
# It is mutable

['mango', 'banana', 'guava']

In [83]:
l = [1,2,3,4]
l + l
l.extend(l)
print(l)
l.append(l)
print(l)

[1, 2, 3, 4, 1, 2, 3, 4]
[1, 2, 3, 4, 1, 2, 3, 4, [...]]

In [84]:
len(l)

9

In [85]:
lst = [1,2,3]
lst.insert(2,"apple")
print(lst)

[1, 2, 'apple', 3]

In [86]:
# lst.remove("apple")
del lst[0]
print(lst)

[2, 'apple', 3]

In [87]:
lst

[2, 'apple', 3]

In [88]:
lst.pop()

3

In [89]:
lst

[2, 'apple']

In [90]:
lst = [1,2,3]
lst =lst*3
print(lst)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [91]:
stri = "abc"
stri*3

'abcabcabc'

In [92]:
lst.reverse()
lst[::-1]

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [93]:
print(lst)

[3, 2, 1, 3, 2, 1, 3, 2, 1]

In [94]:
numbers = [3,4,5,2,1,26,7]
# sorted_list = sorted(numbers)
numbers.sort()

In [95]:
print(sorted_list)

NameError: name 'sorted_list' is not defined

In [96]:
lst = [1,2,3,4]
abc = lst 
abc.append(6)

print(lst)
print(abc)

[1, 2, 3, 4, 6]
[1, 2, 3, 4, 6]

In [97]:
print(id(lst))
print(id(abc))

4435541256
4435541256

# Tuple

In [98]:
t = (1, 2, "numbers", 3.5)
print(t, type(t))

(1, 2, 'numbers', 3.5) <class 'tuple'>

In [99]:
t[3]=4

TypeError: 'tuple' object does not support item assignment

In [100]:
t = ('abhishek',)
print(t, type(t))

('abhishek',) <class 'tuple'>

In [101]:
t[-1][-2]

'e'

In [102]:
t = ('abc', 'def', (1,2,3))

In [103]:
t

('abc', 'def', (1, 2, 3))

In [104]:
del t

In [105]:
t

NameError: name 't' is not defined

In [106]:
t = (1,2,3,1,2,3,43,2,3,2,1,2,3,1)
t.count(1)

4

In [107]:
t.index(3)

2

In [108]:
print(10 in t)

False

In [109]:
sum(t)
t = sorted(t)
print(t)

[1, 1, 1, 1, 2, 2, 2, 2, 2, 3, 3, 3, 3, 43]

# Sets

In [110]:
# unordered collection of items, unique elements, mutable

In [111]:
s = {1,2,3,4}
print(s, type(s))

{1, 2, 3, 4} <class 'set'>

In [112]:
s = set([1,2,3])
print(s)

{1, 2, 3}

In [113]:
s.add(4)

In [114]:
print(s)

{1, 2, 3, 4}

In [115]:
print(s[0])

TypeError: 'set' object is not subscriptable

In [116]:
s.update([5,6,1,7])

In [117]:
s

{1, 2, 3, 4, 5, 6, 7}

In [118]:
s.discard(4)

In [119]:
s.remove(2)

In [120]:
s.pop()

1

In [121]:
s.clear()

In [122]:
s

set()

# Operations Set

In [123]:
set1 = {1,2,3,4,5,6}
set2 = {2,3}

print(set1 | set2)
print(set1.union(set2))

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

In [124]:
print(set1 & set2)

{2, 3}

In [125]:
print(set1 - set2)

{1, 4, 5, 6}

In [126]:
print(set1 ^ set2)

{1, 4, 5, 6}

In [127]:
set2.issubset(set1)

True

In [128]:
a = ()
print(a)
a = tuple()
print(a)

a = (1,2,3)
print(a)

()
()
(1, 2, 3)

# Dictionaries

In [129]:
# hashmaps - c++, java 
# JSON - javascript 
# dictionaries - python - key value pairs

In [130]:
dictionary = {"name":"abhishek", "age":21}
print(dictionary, type(dictionary))

{'name': 'abhishek', 'age': 21} <class 'dict'>

In [131]:
set1 = {1,2,3}
set2 = set()
dictionray = {}
print(type(set1), type(set2), type(dictionray))

<class 'set'> <class 'set'> <class 'dict'>

In [132]:
# dictionary['key']
print(dictionary.get('name'))

abhishek

In [133]:
dictionary['city'] = 'delhi'

In [134]:
dictionary

{'name': 'abhishek', 'age': 21, 'city': 'delhi'}

In [135]:
dictionary.popitem()

('city', 'delhi')

In [136]:
del dictionary['name']

In [137]:
dictionary

{'age': 21}

In [138]:
dictionary.clear()

In [139]:
dictionary

{}

In [140]:
dictionary

{}

In [141]:
dictionary.keys()

dict_keys([])

In [142]:
dictionary.values()

dict_values([])

In [143]:
dictionary.items()

dict_items([])

In [144]:
for k,v in dictionary.items():
    print("key is {} and value is {}".format(k,v))

# Advance Concepts Python
- Classes and Objects (OOPS)
- Exception Handling

In [145]:
class Student:
    
    def __init__(self, name):
        self.name = name
    
    def sayHello(self):
        print("hello", self.name)

In [146]:
# Self keyword 
Student('abhishek').sayHello()

hello abhishek

In [147]:
class Person():
    
    # class variable 
    number = 0
    
    def __init__(self, name):
        
        # Initialise some data 
        self.name = name
        print("Initialising {}".format(self.name))
        
        Person.number+=1
        
    def destruct(self):
        
        # It will die
        print("I am dying {}".format(self.name))
        Person.number = Person.number -1
        
    def sayHello(self):
        # greet 
        print("Hello {}".format(self.name))
        
    @classmethod
    def how_many(self):
        print("number of persons: {}".format(self.number))

In [148]:
person1 = Person("abhishek")
person1.sayHello()
Person.how_many()

person2 = Person("anamika")
person2.sayHello()
Person.how_many()

Initialising abhishek
Hello abhishek
number of persons: 1
Initialising anamika
Hello anamika
number of persons: 2

In [149]:
person1.destruct()

I am dying abhishek

In [150]:
person2.destruct()

I am dying anamika

In [151]:
Person.how_many()

number of persons: 0

In [152]:
try:
    print(1/0)
except:
    print("zero division error")
finally:
    print("It runs")

zero division error
It runs